{% extends 'base.html'%} 
{% load static %}
{% block content %}

<section id="home-category">
  <div class="home-container">
    <div class="item breakfast">
      <a href="{% url 'recipes' %}"
        ><span class="item__text">Breakfast</span></a
      >
    </div>
    <div class="item lunch">
      <a href="{% url 'recipes' %}"><span class="item__text">Lunch</span></a>
    </div>
    <div class="item dinner">
      <a href="{% url 'recipes' %}"><span class="item__text">Dinner</span></a>
    </div>
  </div>
</section>

<section id="about">

  <div class="container">

      <div class="row">
        <div class="about-card col-md-12 p-3">
          <div class="row ">
            <div class="col-md-4">
              <img class="w-100" src="{% static '/images/chefrob.png' %}">
            </div>
            <div class="col-md-8">
              <div class="card-block">
                <h1 class="heading-text">
                  About me
                </h1>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="{% url 'recipes' %}" class="btn btn-primary">View all my recipes</a>
              </div>
            </div>
          </div>
        </div>
  </div>


  </div>

</section>

<section id="latest-recipes">
	<h1 class="heading-text">
		Latest Recipes
	</h1>
  {% for recipe in recipes %} 
  <a href="{% url 'recipe_detail' recipe.id %}">
	<div class="container d-flex mt-4 p-4">
		<div class="latest-recipes-card mb-3" style="max-width:540px;">
			<div class="row g-0">
				<div class="col-md-6">
					<img src="{{ recipe.image.url }}"
						class="img-fluid rounded-start" alt="{{recipe.image_alt}}">
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<h5 class="card-title">
							{{recipe.title}}
						</h5>
						<p class="card-text">
							{{recipe.description}}
						</p>
						<p class="card-text">
							<small class="text-muted">
								{{recipe.posted_date}}
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
  
</a>
  {% endfor %}
</section>



{% endblock %}
