{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %} 

<div class="recipe-header">
  <h2>{{ recipe.title }}</h2>
  <h6>Posted by {{recipe.user}} on {{recipe.posted_date}}</h6>
  <h6><strong>Cuisine: </strong> {{ recipe.cuisine_types|title }} | <strong>Calories: </strong> {{ recipe.calories }} | <strong>Cooking Time: </strong> {{ recipe.cookingtime }}</h6>
  <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-outline-primary">Edit</a>
  <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-outline-primary">Delete</a>
</div>

<div class="row">
  <div class="leftcolumn">

    <div class="recipe-card">
      <img class="recipeImg" src="{{ recipe.image.url }}" alt="{{recipe.image_alt}}">
    </div>

    <div class="recipe-card">
      <h2>Instructions</h2>
      <p>{{ recipe.instructions|safe }}</p>
    </div>

    <div class="recipe-card">
      <h2>Leave your comment :</h2>
        {% if user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{ comment_form }}
            <br>
            <button class="btn btn-primary" type="submit">Add comment <i class="fas fa-comments"></i></button>
          </div>
        </form>
        {% else %}
        <a class="btn btn-primary comment-btn" href="{% url 'account_login' %}?next={{request.path}}">Log in to add a comment!</a><br>
        {% endif %}

        {% if comments %}
        <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
        <hr>
        <ul>
          {% for comment in comments %}         
          <div>
              <span>
                <strong class="text-info">{{ comment.author }} </strong>
                <small class="text-muted">{{ comment.date_posted }}</small>
              </span>
              <p>
                {{ comment.content|safe }}
              </p>
            </div>
        
          {% endfor %}
        </ul>
        {% else %}
        <br>
          <strong class="text-secondary">No comments yet...</strong>
        <br>
        {% endif %}

      </div>
    </div>

  <div class="rightcolumn">

    <div class="recipe-card">
      <h2>Ingredients</h2>
      <p>{{ recipe.ingredients|safe }}</p>
    </div>

    <div class="recipe-card">
      <h2>Notes</h2>
      <p>{{ recipe.notes|safe }}</p>
    </div>

  </div>

</div>



    
{% endblock %}
