{% load static %}

<header>
{% with request.resolver_match.url_name as url_name %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
      <a href="{% url 'home'%}" class="navbar-brand">Recipe Blog</a>
  
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
          >
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu""">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'recipes' %}active{% endif %}" href="{% url 'recipes' %}">Recipes</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_recipe' %}active{% endif %}" href="{% url 'add_recipe' %}">New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">Login</a>
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>   
{% endwith %}
</header>