@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&family=Noto+Sans:wght@400;700&family=Playfair+Display+SC:wght@900&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 100);
}

a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.nav{
    width: 100%;
}
.recipe-details {
    flex-wrap: wrap;
}

.big-header-text {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 5rem;
    color: rgba(0, 0, 10, 0.90);
    text-transform: uppercase;
    text-align: center;

}

.recipe-headings{
    font-weight: 900;
    font-size: 2rem;
    color: rgba(0, 0, 10, 0.90);
    text-transform: uppercase;
    text-align: center;
}

.text-center{
    text-align: center;
}

.recipeinfo{
    text-align: center;
    width: 50%;

}

.instructions{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

/* Recipe cards */

.searchbar {
    margin: 0 auto;
    display: block;
    width: 50%;
    padding: 2%;
}

.card {
    height: 90%;
    margin-top: 1rem;
}

.card-img-top {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.card-body {
    height: 10em;
}

textarea {
    height: 50px;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* Footer */

footer{
    margin-top: auto;
    width: 100%;
}

/* Profiles */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-recipes {
    width: 100%;
}

@media screen and (min-width:40em){
    .form {
        width: 50%;
    }

    .recipe-cont {
        flex-direction: row;
    }
}

@media screen and (min-width: 62.5em) {

    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-recipes {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-recipes a {
        text-decoration: none;
    }
}

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
    
  }

@media screen and (max-width: 400px) {
    img.recipeImg {
         width: 300px;
         padding-left: 10%;
         padding-bottom: 10%;
    }

    .big-header-text{
        font-size: 3em;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    img.recipeImg {
        text-align: center;
        padding-left: 20%;
        padding-bottom: 10%;
   }

   .big-header-text{
       font-size: 3em;
   }
}